<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25654841367-jb0s1tvkh445nt5hlkdcq9ban4uu1hjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25654841367-jb0s1tvkh445nt5hlkdcq9ban4uu1hjh</string>
	<key>API_KEY</key>
	<string>AIzaSyCeCESN9ks1u-JdlLCynq4SqzPHhztKoCY</string>
	<key>GCM_SENDER_ID</key>
	<string>25654841367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpbank.b2b</string>
	<key>PROJECT_ID</key>
	<string>b2b-mobile-app-deb71</string>
	<key>STORAGE_BUCKET</key>
	<string>b2b-mobile-app-deb71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25654841367:ios:ef361d57f5086de2a34c52</string>
</dict>
</plist>